# Summing numbers

In [2]:
sum([1,2])

3

In [12]:
sum(1,2)

TypeError: 'int' object is not iterable

In [3]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.


    re-implementing functionality

In [17]:
"""Solution to chapter 1, exercise 2, beyond 1: mysum with start"""


def mysum(*numbers, start=0):
    """Accepts any number of numeric arguments as inputs.
Returns the sum of those numbers, plus the value of "start",
which defaults to 0.
"""
    output = start
    for number in numbers:
        output += number
    return output

In [18]:
mysum(2,3,4,5,4)

18

In [19]:
mysum(*[2,3,4,5,4])

18

In [24]:
"""Solution to chapter 1, exercise 2, beyond 2: mean"""


def mean(*numbers):
    """Accepts a non-empty list of numbers.

Returns the mean of those numbers.
"""
    return sum(numbers) / len(numbers)

In [25]:
mean(234,345324)

172779.0

In [26]:
"""Solution to chapter 1, exercise 2, beyond 3: words summary"""


def summarize(*words):
    """Accepts a list of strings.

Returns a 3-element tuple containing three integers: (a) length
of the shortest word, (b) length of the longest word, and (c)
average word length.
"""
    word_lengths = [len(one_word)
                    for one_word in words]

    return min(word_lengths), max(word_lengths), sum(word_lengths)/len(word_lengths)

In [28]:
summarize('sadfl','sdfjhsdjf','skdjfhkjdsf','g','dfgdsgfgsdgdsfgdsfgds')

(1, 21, 9.4)

In [59]:
def is_intable(one_item):
    try:
        int(one_item)
        return True
    except ValueError:
        return False


def sum_intable(*items):
    """Accepts a list of Python objects.

Sums those objects that are integers or can be
turned into integers.
"""

    return sum(one_item
               for one_item in items
               if is_intable(one_item))

In [60]:
is_intable('j')

False

In [61]:
is_intable('1.0')

False

In [62]:
is_intable(9)

True

In [63]:
sum_intable(4,484,484)

972

In [1]:
#!/usr/bin/env python3
"""Solution to chapter 1, exercise 3: run_timing"""


def run_timing():
    """Asks the user repeatedly for numeric input.
Prints the average time and number of runs.
"""

    number_of_runs = 0
    total_time = 0

    while True:
        one_run = input('Enter 10 km run time: ')

        if not one_run:
            break

        number_of_runs += 1
        total_time += float(one_run)

    average_time = total_time / number_of_runs

    print(f'Average of {average_time}, over {number_of_runs} runs')

In [4]:
run_timing()

Enter 10 km run time: 7
Enter 10 km run time: 8
Enter 10 km run time: 0
Enter 10 km run time:
Average of 5.0, over 3 runs

In [2]:
run_timing()

Enter 10 km run time: 5
Enter 10 km run time: 7
Enter 10 km run time: u

ValueError: could not convert string to float: 'u'

## try and except

In [ ]:
#!/usr/bin/env python3
"""Solution to chapter 1, exercise 3: run_timing"""


def run_timing():
    """Asks the user repeatedly for numeric input.
Prints the average time and number of runs.
"""

    number_of_runs = 0
    total_time = 0

    while True:
        try:
            one_run = float(input('Enter 10 km run time: '))
            print(f"n = {one_run}")
        except ValueError as e:
            print("Hey! That's not a valid number!\n")

            number_of_runs += 1
            total_time += float(one_run)

            average_time = total_time / number_of_runs

            print(f'Average of {average_time}, over {number_of_runs} runs')

In [ ]:
run_timing()

In [1]:
"""Solution to chapter 1, exercise 3, beyond 1: before_after_dot"""


def before_after_dot(f, before, after):
    """Accepts a float, and two integers.

Returns a float containing before digits preceding the dcimal point,
and after digits following the decimal point.
"""
    s = str(f)
    i = s.index('.')
    return s[i-before:i+after+1]

In [6]:
before_after_dot(756.445645645,1,2)

'6.44'

In [7]:
"""Solution to chapter 1, exercise 3, beyond 2: decimal_add"""

from decimal import Decimal


def decimal_add(first, second):
    """Accepts two strings, turns them into decimals, and returns a float
representing the sum of these two.
"""
    return float(Decimal(first) + Decimal(second))

In [8]:
decimal_add(2.45,3.33333333)

5.78333333

In [22]:
"""Solution to chapter 1, exercise 4: hex_output"""


def hex_output():
    """Ask the user to enter a valid hexadecimal
number, and print the decimal equivalent.
"""

    decnum = 0
    hexnum = input('Enter a hex number to convert: ')
    for power, digit in enumerate(reversed(hexnum)):
        decnum += int(digit, 16) * (16 ** power)
    print(decnum)

In [23]:
hex_output()

Enter a hex number to convert: 16
22

In [15]:
hex_output()

Enter a hex number to convert: 456456456567657
312513521396381271

In [24]:
hex_output()

Enter a hex number to convert: C
12

# lets create names word as hexadecimal into binary / decimal

### Need to build

In [25]:
"""Solution to chapter 1, exercise 4, beyond 1: ord_hex"""


def ord_hex_output():
    """Get a hex number to convert. Use ord to turn it into an integer,
and print the decimal equivalent.
"""

    decnum = 0
    hexnum = input('Enter a hex number to convert: ')
    for power, digit in enumerate(reversed(hexnum)):
        if 48 <= ord(digit) <= 57:
            dec_digit = ord(digit) - 48
        elif 97 <= ord(digit) <= 102:
            dec_digit = ord(digit) - 87

        decnum += dec_digit * (16 ** power)
    print(decnum)

In [26]:
ord_hex_output()

Enter a hex number to convert: 16
22

In [27]:
"""Solution to chapter 1, exercise 4, beyond 2: name_triangle"""


def name_triangle():
    """Get the user's name. Print a name triangle, starting
with the first letter, then the first two letters, etc.
"""
    name = input("Enter your name: ")

    for i in range(len(name)):
        print(name[:i+1])

In [28]:
name_triangle()

Enter your name: Charan
C
Ch
Cha
Char
Chara
Charan